.DS_Store
*.pyc
*.swp
*.pyo
*.whoosh
*.db
*.swp
env
dist
_mailinglist/*
*.egg-info

.project
.pydevproject
.settings

.idea

/.installed.cfg
/parts
/develop-eggs
/bin
/eggs
/downloads
/lib
/build
dist
