{% extends "layout.html" %}

{% block title %}Groups{% endblock %}

{% block main %}
<ul class="breadcrumb">
  <li>
    <a href="/">Home</a> <span class="divider">/</span>
  </li>
  <li class="active">Groups</li>
</ul>

<div class="well">
    <p>
    <a class="btn btn-large btn-primary" href="/group-add"><i class="icon-plus icon-white"></i> Add Group</a>
    </p>
    <table class="table table-bordered table-striped">
        <thead>
            <tr><th>Group</th><th>Memcached Count</th><th>Total Memory(M)</th><th>Avg Hit Rate(%)</th></tr>
        </thead>
        <tbody>
        {% for group in groups %}
        <tr>
            <td><a href="/memcacheds-{{ group.Groups.id }}">{{ group.Groups.name }}</a></td>
            <td>{{ group.memcached_count }}</td>
            <td>{% if group.group_total_memory %}{{ group.group_total_memory }}{% else %}0{% endif %}</td>
            <td>{{ stats_hit[group.Groups.id]['hit'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

</div>
{% endblock %}
