{% extends "layout.html" %}

{% block title %}Groups{% endblock %}

{% block main %}
<ul class="breadcrumb">
  <li>
    <a href="/">Home</a> <span class="divider">/</span>
  </li>
  <li class="active">Groups</li>
</ul>

<div class="well">
    <p>
    <a class="btn btn-primary" href="/group-add"><i class="icon-plus icon-white"></i>Add Group</a>
    </p>
    <table class="table table-bordered table-striped">
        <thead>
            <tr><th>Group</th><th>Memcached Count</th></tr>
        </thead>
        <tbody>
        {% for group in groups %}
        <tr>
            <td>{{ group.name }}</td>
            <td>{{ group.memcached_count }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

</div>
{% endblock %}
