{% extends "layout.html" %}

{% block title %}Add Group{% endblock %}

{% block main %}
<ul class="breadcrumb">
  <li>
    <a href="/">Home</a> <span class="divider">/</span>
  </li>
  <li class="active">Add Group</li>
</ul>

<div class="well">
    <form class="form-horizontal">
        <fieldset>
            <legend>Add Group</legend>
                <div id="add_group_notice" style="display:none;">
                    <button data-dismiss="alert" class="close">x</button>
                    <span id="add_group_msg"> </span>
                </div>
                <div class="control-group">
                    <label class="control-label" for="version">Group name</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="name" name="name">
                        <p class="help-block">input group name</p><br />
                    </div>
                </div>
                <div class="form-actions">
                    <button type="button" id="add" class="btn btn-primary">Add</button>
                </div>
        </fieldset>
    </form>
</div>
{% endblock %}

{% block footer_script %}
    <script src="{{ url_for('static', filename='jquery.colorAnimations.js') }}"></script>
    <script type="text/javascript">
        $(function(){
            $('#add').click(function() {
                var name = $("#name").val();
                if(name == "") {
                    $("#name").animate({ backgroundColor: "#FFB5B5" }, 500)
                    .animate({ backgroundColor: "#FFFFFF" }, 1000);
                    return false;
                }

                if (!confirm('Are you sure to add group ' + name + '?')) {
                    return false;
                }

                $('#add_group_notice').show();
                $('#add_group_msg').html('<img src=' + "{{ url_for('static', filename='loading.gif') }}" + ' /> Being processed,Please wait...');
                
                $('#name').val('');
                
                $.ajax({
                    url : "/group/do_add",
                    dataType : "json",
                    type : 'post',
                    data : {'name' : name}
                }).done(function(result){
                    $('#add_group_notice').removeClass();
                    $('#add_group_notice').addClass('alert');
                    if (result.status == 'ok') {
                        $('#add_group_notice').addClass('alert-success');
                    } else {
                        $('#add_group_notice').addClass('alert-error');
                    }

                    $('#add_group_msg').html(result.message); 
                });
            });
        });

    </script>
{% endblock %}
