{% extends "layout.html" %}

{% block title %}Groups{% endblock %}

{% block main %}
<ul class="breadcrumb">
  <li>
    <a href="/">Home</a> <span class="divider">/</span>
  </li>
  <li class="active">Groups</li>
</ul>

<div class="well">
    <p>
    <a class="btn btn-large btn-primary" href="/group-add"><i class="icon-plus icon-white"></i> Add Group</a>
    </p>
    <table class="table table-bordered table-striped">
        <thead>
            <tr><th>Group</th><th>Memcached Count</th><th>Memory Status</th><th>Avg Hit Rate(%)</th></tr>
        </thead>
        <tbody>
        {% for group in groups %}
        <tr>
            <td><a href="/memcacheds-{{ group.Groups.id }}">{{ group.Groups.name }}</a></td>
            <td>{{ group.memcached_count }}</td>
            <td>
            <span class="label label-important">Useage</span><span style="display:inline-block;width:150px;">&nbsp;&nbsp;{{ stats_useage[group.Groups.id]['useage'] }}G&nbsp;({{ stats_useage[group.Groups.id]['use_per'] }}%)</span><span class="label label-success">Free</span>&nbsp;&nbsp;{{ stats_useage[group.Groups.id]['free'] }}G&nbsp;({{ stats_useage[group.Groups.id]['free_per'] }}%)</td>
            <td>{{ stats_hit[group.Groups.id]['hit'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

</div>
{% endblock %}
