{% extends "layout.html" %}

{% block title %}Host Add{% endblock %}

{% block main %}
<ul class="breadcrumb">
  <li>
    <a href="/">Home</a> <span class="divider">/</span>
  </li>
  <li class="active">Host Add</li>
</ul>

<div class="well">
    <form class="form-horizontal">
        <fieldset>
            <legend>Host Add</legend>
                <div id="host_add_notice" style="display:none;" class="alert">
                    <button data-dismiss="alert" class="close">x</button>
                    <span id="host_add_msg"> </span>
                </div>
                <div class="control-group">
                    <label class="control-label" for="ip">IP Address</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="ip" name="ip">
                        <p class="help-block">input ip address</p>
                    </div>
                    <label class="control-label" for="version">Version</label>
                    <div class="controls">
                        <select name="version" id="version">
                            <option value="1">1.4.0</option>
                            <option value="2">1.4.4</option>
                            <option value="3">1.4.13</option>
                        </select>
                        <p class="help-block">select memcache version</p>
                    </div>
                </div>
                <div class="control-label">
                    <button type="button" id="ok" class="btn btn-primary">Add</button>
                </div>
        </fieldset>
    </form>
</div>
{% endblock %}
{% block footer_script %}
    <script src="{{ url_for('static', filename='jquery.colorAnimations.js') }}"></script>
    <script type="text/javascript">
        $(function(){
            $('#ok').click(function(){
                if($("input[name=ip]").val()=="" || checkIP($("input[name=ip]").val())==null){
                    //$('#ip').css('background-color','#FFB5B5');
                    $("#ip").animate({ backgroundColor: "#FFB5B5" }, 500)
                        .animate({ backgroundColor: "#FFFFFF" }, 1000);
                }else{
                    if (! confirm('Are you sure to install memcached on this host?')) {
                        return false;
                    }
                    $('#host_add_notice').show();
                    $('#host_add_msg').html('<img src=' + "{{ url_for('static', filename='loading.gif') }}" + ' /> Being processed,Please wait...');
                    var ip = $("#ip").val();
                    var version = $("#version").val();
                    $('#ip').val('');
                    $.ajax({
                        url : "/host/do_install",
                        dataType : "json",
                        type : 'post',
                        data : {'ip' : ip, 'version' : version}
                    }).done(function(result){
                        $('#host_add_msg').html(result.status);        
                    });
                } 
            });
        });
        function checkIP(value){
            var exp=/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/;
            return value.match(exp);
        }
    </script>
{% endblock %}
