{% extends "layout.html" %}

{% block title %}Hosts{% endblock %}

{% block main %}
<ul class="breadcrumb">
  <li>
    <a href="/">Home</a> <span class="divider">/</span>
  </li>
  <li class="active">Hosts</li>
</ul>

<div class="well">
    <table class="table table-bordered table-striped">
        <thead>
            <tr><th>Host</th><th>Memcached Count</th><th>Memory Detail(G)</th></tr>
        </thead>
        <tbody>
        {% for host in hosts %}
        <tr>
            <td>{{ host.ip }}</td>
            <td>{{ host.memcached_count }}</td>
            <td>
                <span class="label label-info">Total</span><span style="display:inline-block;width:70px;">&nbsp;&nbsp;{{ host_total_mem[host.ip] }}</span>
                <span class="label label-success">Free</span><span style="display:inline-block;width:70px;">&nbsp;&nbsp;{{ host_free_mem[host.ip] }}</span>
                <span class="label label-important">Cache</span><span style="display:inline-block;width:70px;">&nbsp;&nbsp;{{ host_cache_mem[host.ip] }}</td></span>
        </tr>
        {% endfor %}
    </tbody>
    </table>

</div>
{% endblock %}
