{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block main %}
    <div class="well" style="padding:50px 10px;">
        <a class="btn btn-large" href="/hosts"><strong>{{ host_count }}</strong> Hosts</a>
        <a class="btn btn-large" href="/instances"><strong>{{ instance_count }}</strong> Instances</a>
        <!-- <a class="btn btn-large" href="/graph" style="margin-left:35px">Graphs</a> -->
        <span class="label label-important">Hot</span>
    </div>
{% endblock %}
