{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block main %}
    <div class="well" style="padding:50px 10px;">
        <a class="btn btn-large" href="/groups" style="margin-left:35px"><strong>{{ group_count }}</strong> Groups</a> 
        <a class="btn btn-large" href="/hosts"><strong>{{ host_count }}</strong> Hosts</a>
        <a class="btn btn-large" href="/memcacheds"><strong>{{ memcached_count }}</strong> Memcacheds</a>
        <span class="label label-important">Hot</span>
    </div>
{% endblock %}
