{% extends "layout.html" %}

{% block title %}Memcacheds{% endblock %}

{% block main %}
<ul class="breadcrumb">
  <li>
    <a href="/">Home</a> <span class="divider">/</span>
  </li>
  <li class="active">Memcacheds</li>
</ul>

<div class="well">
    <p>
    <a class="btn btn-large btn-primary" href="/memcached-add"><i class="icon-plus icon-white"></i> Add Memcached</a>
    </p>
    <table class="table table-bordered table-striped">
        <thead>
            <tr><th>#</th><th>Group</th><th>Memcached</th><th>Operation</th><th>Status</th></tr>
        </thead>
        <tbody>
        {% for memcached in memcacheds %} {% set memcached_addr = memcached.ip + ':' + memcached.port|string %}
        <tr>
            <td>{{ memcached.id }}</td>
            <td><a href="/memcacheds-{{ memcached.group_id }}">{{ memcached.group_name }}</a></td>
            <td><a href="/memcached-{{ memcached.id }}">{{ memcached_addr }}</a></td>
            <td>
                <a href="#" title="restart {{ memcached_addr }}" memcached_id="{{ memcached.id }}" class="memcached_restart"><i class="icon-refresh" ></i></a>
                <a href="#" title="stop {{ memcached_addr }}" memcached_id="{{ memcached.id }}" class="memcached_stop"><i class="icon-stop" ></i></a>
                <a href="#" title="start {{ memcached_addr }}" memcached_id="{{ memcached.id }}" class="memcached_start"><i class="icon-play" ></i></a>
                <a href="#" title="delete {{ memcached_addr }}" memcached_id="{{ memcached.id }}" class="memcached_delete"><i class="icon-remove" ></i></a>
                &nbsp;&nbsp;&nbsp;<a href="/memcached-edit-{{ memcached.id }}" title="edit {{ memcached_addr }}" target="_blank"><i class="icon-pencil"></i></a>
            </td>
            <td id="status_{{ memcached.id }}" style="width:100px;">{{ memcached.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

</div>
{% endblock %}

{% block footer_script %}
    <script type="text/javascript">
        $(function() {
                $('.memcached_stop').click(function() {
                    if (! confirm('Are you sure to ' + $(this).attr('title') + '?')) {
                        return false;
                    }
                    var memcached_id = $(this).attr('memcached_id');
                    
                    $.ajax({
                        url : "/memcached-" + memcached_id + "-stop",
                        type : 'post',
                        dataType : "json",
                           
                    }).done(function(result) {
                        $("#status_" + memcached_id).html(result.status);
                        //self.location.reload();
                    });
                });
                $('.memcached_start').click(function(){
                    if (! confirm('Are you sure to ' + $(this).attr('title') + '?')) {
                        return false;
                    }
                    var memcached_id = $(this).attr('memcached_id');
                    $('#status_' + memcached_id).html('please wait...');
                    $.ajax({
                        url : "/memcached-" + memcached_id + "-start",
                        type : 'post',
                        dataType : "json",
                    }).done(function(result) {
                        $("#status_" + memcached_id).html(result.status);
                        //self.location.reload();
                    });
                });
                $('.memcached_restart').click(function(){
                    if (! confirm('Are you sure to ' + $(this).attr('title') + '?')) {
                        return false;
                    }
                    var memcached_id = $(this).attr('memcached_id');
                    $.ajax({
                        url : "/memcached-" + memcached_id + "-restart",
                        type : 'post',
                        dataType : "json",
                    }).done(function(result){
                        $("#status_" + memcached_id).html(result.status);
                        //self.location.reload();
                    });
                });
                $('.memcached_delete').click(function() {
                    if (! confirm('Are you sure to ' + $(this).attr('title') + '?')) {
                        return false;
                    }
                    var memcached_id = $(this).attr('memcached_id');
                    $.ajax({
                        url : "/memcached-" + memcached_id + "-delete",
                        type : 'post',
                        dataType : "json",
                    }).done(function(result){
                        $("#status_" + memcached_id).html(result.status);
                        self.location.reload();
                    });
                });

        });
    </script>
{% endblock %}
