{% extends "layout.html" %}

{% block title %}Server {{ addr  }}{% endblock %}

{% block head_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='c/memcached.css') }}" media="all" />
{% endblock %}

{% block main %}
<ul class="breadcrumb">
  <li>
    <a href="/">Home</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="/memcacheds">Memcacheds</a> <span class="divider">/</span>
  </li>
  <li class="active">{{ addr }}</li>
</ul>

<div class="well">

    <div class="btn btn-large">{{  addr }}</div>
    <code>memcached -p {{ memcached.port }} -m {{ memcached.memory }} {{ memcached.parameters }} -d</code>

    <h3>Basic Stats
    <a class="btn btn-mini" id="view_all_stats" href="#"><i class="icon-zoom-in"></i></a>
    <a class="btn btn-warning" style="float:right;" onclick="return confirm('Are you sure reset stats?');" href="/memcached/reset-stats/{{ memcached_id }}">Reset Stat</a>
    </h3>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>version</th><th>set</th><th>get</th><th>evictions</th>
                <th>evictions/get</th>
                <th>curr conn</th><th>total conn</th>
                <th>threads</th>
                <th>reassign enable</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ stats['version'] }}</td>
                <td>{{ stats['cmd_set'] }}</td>
                <td>{{ stats['cmd_get'] }}</td>
                <td>{{ stats['evictions']  }}</td>
                <td>{% if stats['cmd_get']!='0' %}
                    {{ ((stats['evictions']|int) * 100 / (stats['cmd_get']|int)) | round(2, 'floor')  }} %
                    {% else %}/{% endif %}
                </td>
                <td>{{ stats['curr_connections']  }}</td>
                <td>{{ stats['total_connections']  }}</td>
                <td>{{ stats['threads']  }}</td>
                <td>{% if stats.slab_reassign_running  %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>
    <div>
        <div>
            <table class="table table-bordered table-striped" id="all_stats_table" style="display:none;">
                <tbody>
                    {% for _stats_key in stats %}
                    <tr><td>{{ _stats_key }}</td><td>{{ stats[_stats_key] }}</td><td>{{ stats_description[_stats_key]  }}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row-fluid">
        <div id="hits_stats" class="span6"></div>
        <div id="usage_stats" class="span6"></div>
    </div>

    <h3>Slabs Stats</h3>
    <div id="slabs_stats"></div>

    <h3>Slabs Detail</h3>
    <div class="btn-group">
        {% for slab in slabs_stats  %}
        <button class="btn slab_id">{{slab.slab_id}}</button>
        {% endfor %}
    </div>

    <div id="prefix_loading"><img src="{{ url_for('static', filename='loading.gif') }}" /></div>
    <table class="table table-bordered table-striped" id="slab_key_prefix"></table>
    <div>
        <table class="table table-bordered table-striped" id="slab_info"></table>
    </div>

    <h3>Data Query</h3>
    <div>
        <form class="form-horizontal">
            <div class="alert" style="display:none;" id="search_data_notice">
                <button class="close" data-dismiss="alert">×</button>
                <span id="search_data_msg"> </span>
            </div>

            <div class="control-group">
                <input type="text" id="key" class="input-medium search-query" placeholder="Type key">
                <button type="button" class="btn" id="search_key_btn">Search</button>
            </div>

            <div class="control-group">
                <textarea id="search_data_result"></textarea>
            </div>
        </form>
    </div>

    <h3>Key Deletion</h3>
    <div>
        <form class="form-horizontal">
            <div class="alert" style="display:none;" id="delete_data_notice">
                <button class="close" data-dismiss="alert">×</button>
                <span id="delete_data_msg"> </span>
            </div>

            <div class="control-group">
                <input type="text" id="delete-key" class="input-medium search-query" placeholder="Type key">
                <button type="button" class="btn" id="delete_key_btn">Delete</button>
            </div>
        </form>
    </div>

</div>
{% endblock %}

{% block footer_script %}
<script type="text/javascript" src="{{ url_for('static', filename='amcharts/amcharts.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='amcharts/raphael.js') }}"></script>

<script type="text/javascript">
    var chart;
    var slabs_data = {{ slabs_stats_str|safe }};
    var stats_data = {{ stats_str|safe }};
    var hits_data = {{ hits_stats_str|safe }};
    _slabs = {{ _slabs|tojson|safe }};
    slabs = {{ slabs|tojson|safe }};
    slab_description = {{ slab_description|tojson|safe }};
    var usage_data = [{
        'type':'used',
        'color' : '#669900',
        'value' : {{ stats['bytes'] }},
        'h_value' : '{{ stats['bytes']|human_readable_size }}'
    },
    {
        'type' : 'free',
        'color': '#666666',
        'value' : {{ stats['limit_maxbytes']|int- stats['bytes']|int }},
        'h_value' : '{{ (stats['limit_maxbytes']|int- stats['bytes']|int)|human_readable_size }}'
    }];


    AmCharts.ready(function () {
        // SERIAL CHART
        chart = new AmCharts.AmSerialChart();
        chart.dataProvider = slabs_data;
        chart.categoryField = "slab_id";
        chart.startDuration = 1;

        // AXES
        // category
        var categoryAxis = chart.categoryAxis;
        categoryAxis.labelRotation = 0;
        categoryAxis.gridPosition = "start";

        // value
        // in case you don't want to change default settings of value axis,
        // you don't need to create it, as one value axis is created automatically.
        var valueAxis = new AmCharts.ValueAxis();
        valueAxis.stackType = "regular";
        valueAxis.gridAlpha = 0.1;
        valueAxis.axisAlpha = 0;
        chart.addValueAxis(valueAxis);

        // GRAPH
        var graph = new AmCharts.AmGraph();
        graph.valueField = "used_chunks";
        graph.balloonText = "slab [[slab_id]] \n chunk size:[[size]] \n used chunks: [[used_chunks]] \n total size: [[used_size]]";
        graph.type = "column";
        graph.lineAlpha = 0;
        graph.fillAlphas = 0.8;
        graph.fontSize = 15;
        chart.addGraph(graph);

        var graph = new AmCharts.AmGraph();
        graph.valueField = "free_chunks";
        graph.balloonText = "slab [[slab_id]] \n chunk size:[[size]] \n free chunks: [[free_chunks]] \n total size: [[free_size]]";
        graph.type = "column";
        graph.lineAlpha = 0;
        graph.fillAlphas = 0.8;
        graph.lineColor = '#669900';
        graph.fontSize = 15;
        chart.addGraph(graph);

        var valAxis2 = new AmCharts.ValueAxis();
        valAxis2.position = "right";
        valAxis2.gridAlpha = 0;
        valAxis2.axisThickness = 1;
        chart.addValueAxis(valAxis2);

        var graph = new AmCharts.AmGraph();
        graph.valueAxis = valAxis2;
        graph.valueField = "evicted";
        graph.type = "line";
        graph.balloonText = "slab [[slab_id]] \n evicted: [[evicted]] \n get_hits: [[get_hits]]  \n evicted rate: [[evicted_rate]]" ;
        graph.lineThickness = 1;
        graph.bullet = "round";
        graph.lineColor = '#ff0000';
        graph.fontSize = 15;
        chart.addGraph(graph);

        var chartCursor = new AmCharts.ChartCursor();
        chartCursor.cursorPosition = "mouse";
        chart.addChartCursor(chartCursor);

        chart.write("slabs_stats");

        chart = new AmCharts.AmPieChart();
        chart.dataProvider = hits_data;
        chart.titleField = "type";
        chart.valueField = "value";
        chart.outlineColor = "#FFFFFF";
        chart.outlineAlpha = 0.8;
        chart.colorField = "color";
        chart.outlineThickness = 1.2;
        chart.labelRadius = 15;
        //chart.startEffect = '>';
        chart.startDuration = 0;
        //chart.startRadius = '200%'
        chart.labelText = "[[title]]\n [[percents]]% ";
        // WRITE
        chart.write("hits_stats");

        chart = new AmCharts.AmPieChart();
        chart.dataProvider = usage_data;
        chart.titleField = "type";
        chart.valueField = "value";
        chart.descriptionField = 'h_value';
        chart.outlineColor = "#FFFFFF";
        chart.outlineAlpha = 0.8;
        chart.colorField = "color";
        chart.outlineThickness = 1.2;
        chart.labelRadius = 15;
        //chart.startEffect = '>';
        chart.startDuration = 0;
        //chart.startRadius = '200%'
        chart.balloonText = "[[title]] [[percents]]%  [[description]]";
        chart.labelText = "[[title]] [[percents]]%  [[description]]";
        // WRITE
        chart.write("usage_stats");

    });

    $(function() {
        $('.slab_id').click(function() {
            slab_id = $(this).text();
            $('#prefix_loading').show();
            $('#slab_info').html('');
            $('#slab_key_prefix').html('');
            
            var html = '<caption>Slab #' + slab_id + ' info</caption><tbody>';
            var val, description;
            for (var key in _slabs[slab_id]) {
                val = _slabs[slab_id][key];
                description = slab_description[key];
                description = description == undefined ? '' : description;
                html += '<tr><td>' + key + '</td><td>' + val + '</td><td>' + description + '</td></tr>' ;
            }
            for (var key in slabs[slab_id]) {
                val = slabs[slab_id][key];
                description = slab_description[key];
                description = description == undefined ? '' : description;
                html += '<tr><td>' + key + '</td><td>' + val + '</td><td>' + description + '</td></tr>' ;
            }
            html += '</tbody>';

            $('#slab_info').html(html);

            $.ajax({
                url:"/memcached_slab_key-{{memcached_id}}-" + slab_id,
                dataType:"json"
            }).done(function(keys) {
                var html = '<caption>Slab #' + slab_id + ' keys</caption>';
                if (keys.length <= 0) {
                    html = '<tr><td>no key</td></tr>';
                } else {
                    html += '<thead><tr><th width="80%">key prefix</th><th>count</th></tr></thead><tbody>';
                    for (key in keys) {
                        html += '<tr><td>' + key + '</td><td>' + keys[key]  + '</td></tr>';
                    }
                    html += "</tbody>";
                }
                $('#slab_key_prefix').html(html);
                $('#prefix_loading').hide();
            });
        });

        $('#search_key_btn').click(function() {
            var key = $('#key').val();
            $.ajax({
                url : "/memcached/data/" + {{ memcached_id }},
                dataType : "json",
                type : 'post',
                data : {'key' : key}
            }).done(function(result) {

                if (result.status == 'ok') {
                    $('#search_data_result').val(result.data);
                } else {
                    $('#search_data_result').val('');
                }
            });

        });

        $('#delete_key_btn').click(function() {
            var key = $('#delete-key').val();
            $.ajax({
                url : "/memcached/data/" + {{ memcached_id }},
                dataType : "json",
                type : 'post',
                data : {'key' : key, 'action': 'delete'}
            }).done(function(result) {

                if (result.status == 'ok') {
                    $('#delete_data_notice').show();
                    $('#delete_data_msg').html('key deleted!');
                    $('#delete-key').val('');
                } else {
                    $('#delete_data_notice').show();
                    $('#delete_data_msg').html('key cannot be deleted!');
                }
            });

        });

        $('#save_data_btn').click(function(){
            var key = $('#key').val();
            var data = $('#search_data_result').val();

            $.ajax({
                url : "/memcached/data/" + {{ memcached_id }},
                dataType : "json",
                type : 'post',
                data : {'key' : key, 'action': 'save', 'data' : data }
            }).done(function(result) {

                $('#search_data_notice').removeClass('alert-success alert-error');
                if (result.status == 'ok') {
                    $('#search_data_notice').addClass('alert-success');
                    $('#search_data_msg').html('update success');
                } else {
                    $('#search_data_notice').addClass('alert-error');
                    $('#search_data_msg').html('update error');
                }
            });
        })

        expanded = false;
        $('#view_all_stats').click(function() {

            $('#view_all_stats > i').removeClass();
            if (expanded) {
                $('#view_all_stats > i').addClass('icon-zoom-in');
                $('#all_stats_table').hide();
            } else {
                $('#view_all_stats > i').addClass('icon-zoom-out');
                $('#all_stats_table').show();
            }

            expanded = !expanded;
        });
    });
</script>

{% endblock %}

