{% extends "layout.html" %}

{% block title %}Hosts{% endblock %}

{% block main %}
<ul class="breadcrumb">
  <li>
    <a href="/">Home</a> <span class="divider">/</span>
  </li>
  <li class="active">Hosts</li>
</ul>

<div class="well">
    <table class="table table-bordered table-striped">
        <thead>
            <tr><th>Host</th><th>Memcached Count</th></tr>
        </thead>
        <tbody>
        {% for sid in servers %}
        <tr>
            <td>{{ sid }}</td>
            <td>{{ servers[sid] }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

</div>
{% endblock %}
