{% extends "layout.html" %}

{% block title %}Server {{ addr  }}{% endblock %}

{% block main %}
<ul class="breadcrumb">
  <li>
    <a href="/">Home</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="/servers">Servers</a> <span class="divider">/</span>
  </li>
  <li class="active">{{ addr }}</li>
</ul>

<div class="well">

    <div class="btn btn-large">{{  addr }}</div>
    <h2 style="margin:10px;">Slabs Stats</h2>
    <div id="slabs_stats" style="width:100%;height:300px;"></div>
    <h2 style="margin:10px;">Hits Stats</h2>
    <div id="hits_stats" style="width:450px;height:300px;"></div>
</div>
{% endblock %}

{% block footer_script %}
<script type="text/javascript" src="{{ url_for('static', filename='amcharts/amcharts.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='amcharts/raphael.js') }}"></script>

<script type="text/javascript">
    var chart;
    var slabs_data = {{ slabs_stats_str|safe }};
    var stats_data = {{ stats_str|safe }};
    var hits_data = {{ hits_stats_str|safe }};


    AmCharts.ready(function () {
        // SERIAL CHART
        chart = new AmCharts.AmSerialChart();
        chart.dataProvider = slabs_data;
        chart.categoryField = "slab_id";
        chart.startDuration = 1;

        // AXES
        // category
        var categoryAxis = chart.categoryAxis;
        categoryAxis.labelRotation = 0;
        categoryAxis.gridPosition = "start";

        // value
        // in case you don't want to change default settings of value axis,
        // you don't need to create it, as one value axis is created automatically.

        // GRAPH
        var graph = new AmCharts.AmGraph();
        graph.valueField = "chunks";
        graph.balloonText = "slab [[slab_id]]: [[chunks]] chunks ";
        graph.type = "column";
        graph.lineAlpha = 0;
        graph.fillAlphas = 0.8;
        chart.addGraph(graph);

        chart.write("slabs_stats");

        chart = new AmCharts.AmPieChart();
        chart.dataProvider = hits_data;
        chart.titleField = "type";
        chart.valueField = "value";
        chart.outlineColor = "#FFFFFF";
        chart.outlineAlpha = 0.8;
        chart.colorField = "color";
        chart.outlineThickness = 1.2;
        chart.labelRadius = 15;
        //chart.startEffect = '>';
        chart.startDuration = 0;
        //chart.startRadius = '200%'
        chart.labelText = "[[title]]\n [[percents]]% ([[value]])";
        // WRITE
        chart.write("hits_stats");
    });
</script>

{% endblock %}

